<html>
<body>
<table>
    <thead>
    <th>编码:layer-pid</th>
    <th>所属层级</th>
    <th>层级编码:0,1,2</th>
    <th>展示名称</th>
    <th>所在上一层级编码</th>
    <th>是否可用：0-不可用，1-可用</th>
    <th>创建时间</th>
    <th>更新时间</th>
    <!--<th>操作</th>-->
    </thead>
    <tobody>
        #if($!{datas})
            #foreach($!{info} in $!{datas})
                <tr>
                    <td>$!{info.encode}</td>
                    <td>$!{info.layer}</td>
                    <td>$!{info.pid}</td>
                    <td>$!{info.name}</td>
                    <td>$!{info.pPid}</td>
                    <td>$!{info.isvalid}</td>
                    <td>$!dateTool.format("yyyy-MM-dd",$!{info.createTime})</td>
                    <td>$!dateTool.format("yyyy-MM-dd",$!{info.updateTime})</td>
                    <!--<td class="last">-->
                    <!--<a href="javascript:remoteUrl('../roomConfig/toEditDialog.do?id=$!{info.id}','编辑用户')">编辑</a>-->
                    <!--<a href="javascript:delData('../roomConfig/roomConfigDelete.do?id=$!{info.id}')">删除</a>-->
                    <!--<a href="/roomConfigDetail.do?id=$!{info.id}">详情</a>-->
                    <!--</td>-->
                </tr>
            #end
        #end
    </tobody>
</table>
</body>
</html>
