##<form role="form" class="form-inline" action="/roomConfigIndex.do" method="post" id="formSubmit">
    <div class="col-md-10" style="width:100%">
        <div class="panel panel-default">
            <div class="panel-heading">配置表列表</div>
            <div class="panel-body">
##                <div class="search">
##                    <div class="form-group col-sm-3">
##                        <label for="encode"
##                               class="control-label col-sm-3 line34">编码:layer-pid</label>
##                        <div class="col-sm-8">
##                            <input type="text" name="encode"
##                                   id="encode"
##                                   value="$!{roomConfig.encode}" class="form-control"
##                                   placeholder="编码:layer-pid">
##                        </div>
##                    </div>
##                    <div class="form-group col-sm-3">
##                        <label for="layer"
##                               class="control-label col-sm-3 line34">所属层级</label>
##                        <div class="col-sm-8">
##                            <input type="text" name="layer"
##                                   id="layer"
##                                   value="$!{roomConfig.layer}" class="form-control"
##                                   placeholder="所属层级">
##                        </div>
##                    </div>
##                    <div class="form-group col-sm-3">
##                        <label for="pid"
##                               class="control-label col-sm-3 line34">层级编码:0,1,2</label>
##                        <div class="col-sm-8">
##                            <input type="text" name="pid"
##                                   id="pid"
##                                   value="$!{roomConfig.pid}" class="form-control"
##                                   placeholder="层级编码:0,1,2">
##                        </div>
##                    </div>
##                    <div class="form-group col-sm-3">
##                        <label for="name"
##                               class="control-label col-sm-3 line34">展示名称</label>
##                        <div class="col-sm-8">
##                            <input type="text" name="name"
##                                   id="name"
##                                   value="$!{roomConfig.name}" class="form-control"
##                                   placeholder="展示名称">
##                        </div>
##                    </div>
##                    <div class="form-group col-sm-3">
##                        <label for="pPid"
##                               class="control-label col-sm-3 line34">所在上一层级编码</label>
##                        <div class="col-sm-8">
##                            <input type="text" name="pPid"
##                                   id="pPid"
##                                   value="$!{roomConfig.pPid}" class="form-control"
##                                   placeholder="所在上一层级编码">
##                        </div>
##                    </div>
##                    <div class="form-group col-sm-3">
##                        <label for="isvalid"
##                               class="control-label col-sm-3 line34">是否可用：0-不可用，1-可用</label>
##                        <div class="col-sm-8">
##                            <input type="text" name="isvalid"
##                                   id="isvalid"
##                                   value="$!{roomConfig.isvalid}" class="form-control"
##                                   placeholder="是否可用：0-不可用，1-可用">
##                        </div>
##                    </div>
##                    <div class="form-group col-sm-3">
##                        <label for="createTime"
##                               class="control-label col-sm-3 line34">创建时间</label>
##                        <div class="col-sm-8">
##                            <input type="text" name="createTime"
##                                   id="createTime"
##                                   value="$!dateTool.format('yyyy-MM-dd',$!{roomConfig.createTime})"
##                                   class="form-control" placeholder="创建时间">
##                        </div>
##                    </div>
##                    <div class="form-group col-sm-3">
##                        <label for="updateTime"
##                               class="control-label col-sm-3 line34">更新时间</label>
##                        <div class="col-sm-8">
##                            <input type="text" name="updateTime"
##                                   id="updateTime"
##                                   value="$!dateTool.format('yyyy-MM-dd',$!{roomConfig.updateTime})"
##                                   class="form-control" placeholder="更新时间">
##                        </div>
##                    </div>
##                    <div class="clearfix"></div>
##                    <button type="submit" class="btn btn-primary">搜 索</button>
##                </div>


##                <div id="legend">
##                    <legend class="le">
##                        <button type="button" class="btn btn-primary"
##                                onclick="remoteUrl('../roomConfig/toAddDialog.do','新增用户')">新增
##                        </button>
##                    </legend>
##                </div>



                <table class="table table-striped">
                    <thead>
                    <th>编码:layer-pid</th>
                    <th>所属层级</th>
                    <th>层级编码:0,1,2</th>
                    <th>展示名称</th>
                    <th>所在上一层级编码</th>
                    <th>是否可用：0-不可用，1-可用</th>
                    <th>创建时间</th>
                    <th>更新时间</th>
                    <th>操作</th>
                    </thead>
                    <tobody>
                        #if($!{datas})
                            #foreach($!{info} in $!{datas})
                                <tr>
                                    <td>$!{info.encode}</td>
                                    <td>$!{info.layer}</td>
                                    <td>$!{info.pid}</td>
                                    <td>$!{info.name}</td>
                                    <td>$!{info.pPid}</td>
                                    <td>$!{info.isvalid}</td>
                                    <td>$!dateTool.format("yyyy-MM-dd",$!{info.createTime})</td>
                                    <td>$!dateTool.format("yyyy-MM-dd",$!{info.updateTime})</td>
                                    <td class="last">
                                        <a href="javascript:remoteUrl('../roomConfig/toEditDialog.do?id=$!{info.id}','编辑用户')">编辑</a>
                                        <a href="javascript:delData('../roomConfig/roomConfigDelete.do?id=$!{info.id}')">删除</a>
                                        <a href="/roomConfigDetail.do?id=$!{info.id}">详情</a>
                                    </td>
                                </tr>
                            #end
                        #end
                    </tobody>
                </table>
                <div class="text-right">
                    <!--公用翻页代码-->
                    #set($attr='formSubmit')
                    #showPageList($pageInfos $attr)
                    <!--END公用翻页代码-->
                </div>
            </div>
        </div>
    </div>
##</form>
###parse("common/modal.vm")

<script type="text/javascript">
//    $(document).ready(function () {
//        $("#addButton").bind("click", function () {
//            location.href = "/toAdd.do";
//        });
//        $("#dialogFormSubmit").bind("click", function () {
//            $("#btn_sub").click();
//        });
//    });

</script>